<a href="https://colab.research.google.com/github/charumathikumar/ETG_Inventory_Management_System_Assignment/blob/main/adding_new_prdt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
record = { 10001 : {"p_name": "cheese" , "quant": 100 , "price" : 100 ,"date": "04/09/2021" ,"e_date": "10/12/2021" },
           10002 : {"p_name": "ham" , "quant": 95, "price" : 150  ,"date":"04/09/2021" ,"e_date": "10/09/2021" },
           10003 : {"p_name": "turkey" , "quant": 50 , "price" : 200 ,"date":"04/09/2021" ,"e_date": "10/09/2021" }}

In [ ]:
import json

In [ ]:
js = json.dumps(record)

In [ ]:
fd = open("record.json",'w')

fd.write(js)

fd.close()

In [ ]:
fd = open("record.json",'r')
r = fd.read()
fd.close()
record = json.loads(r)

In [ ]:
record

{'10001': {'date': '04/09/2021',
  'e_date': '10/12/2021',
  'p_name': 'cheese',
  'price': 100,
  'quant': 100},
 '10002': {'date': '04/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'ham',
  'price': 150,
  'quant': 95},
 '10003': {'date': '04/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'turkey',
  'price': 200,
  'quant': 50}}

In [ ]:
n=int(input("Enter number of products to be added:"))
for i in range(n):
      prod_id = str(input("Enter product id:"))
      p_name = str(input("Enter product name:"))
      quant= int(input("Enter quantity:"))
      price= int(input("Enter price:"))
      date = str(input("Enter manufactured/packed date:"))
      e_date = str(input("Enter expiry date:"))
      record[prod_id] = { "p_name": p_name , "quant": quant , "price" : price ,"date": date ,"e_date": e_date}

Enter number of products to be added:2
Enter product id:10004
Enter product name:salami
Enter quantity:50
Enter price:160
Enter manufactured/packed date:05/09/2021
Enter expiry date:10/09/2021
Enter product id:10005
Enter product name:shrimp
Enter quantity:500
Enter price:15
Enter manufactured/packed date:05/09/2021
Enter expiry date:09/09/2021

In [ ]:
record

{'10001': {'date': '04/09/2021',
  'e_date': '10/12/2021',
  'p_name': 'cheese',
  'price': 100,
  'quant': 100},
 '10002': {'date': '04/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'ham',
  'price': 150,
  'quant': 95},
 '10003': {'date': '04/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'turkey',
  'price': 200,
  'quant': 50},
 '10004': {'date': '05/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'salami',
  'price': 160,
  'quant': 50},
 '10005': {'date': '05/09/2021',
  'e_date': '09/09/2021',
  'p_name': 'shrimp',
  'price': 15,
  'quant': 500}}

In [ ]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
n=int(input("Enter number of products to be added:"))
for i in range(n):
      prod_id = str(input("Enter product id:"))
      p_name = str(input("Enter product name:"))
      quant= int(input("Enter quantity:"))
      price= int(input("Enter price:"))
      date = str(input("Enter manufactured/packed date:"))
      e_date = str(input("Enter expiry date:"))
      record[prod_id] = { "p_name": p_name , "quant": quant , "price" : price ,"date": date ,"e_date": e_date}

Enter number of products to be added:2
Enter product id:10034
Enter product name:egg
Enter quantity:28
Enter price:5
Enter manufactured/packed date:06/09/2021
Enter expiry date:10/09/2021
Enter product id:10035
Enter product name:powder
Enter quantity:50
Enter price:40
Enter manufactured/packed date:07/08/2021
Enter expiry date:07/08/2022

In [ ]:
record

{'10001': {'date': '04/09/2021',
  'e_date': '10/12/2021',
  'p_name': 'cheese',
  'price': 100,
  'quant': 100},
 '10002': {'date': '04/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'ham',
  'price': 150,
  'quant': 95},
 '10003': {'date': '04/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'turkey',
  'price': 200,
  'quant': 50},
 '10004': {'date': '05/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'salami',
  'price': 160,
  'quant': 50},
 '10005': {'date': '05/09/2021',
  'e_date': '09/09/2021',
  'p_name': 'shrimp',
  'price': 15,
  'quant': 500},
 '10006': {'date': '06/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'chicken',
  'price': 100,
  'quant': 10},
 '10007': {'date': '06/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'fish',
  'price': 20,
  'quant': 300},
 '10008': {'date': '03/09/2021',
  'e_date': '13/09/2021',
  'p_name': 'bread',
  'price': 25,
  'quant': 95},
 '10009': {'date': '06/09/2021',
  'e_date': '16/09/2021',
  'p_name': 'bagels',
  'price': 40,
  'quant': 65},
 '10010': {'date': '03/09/2021',
  'e_date': '03/10/2021',
  'p_name': 'muffins',
  'price': 25,
  'quant': 100},
 '10011': {'date': '06/09/2021',
  'e_date': '16/09/2021',
  'p_name': 'buns',
  'price': 10,
  'quant': 150},
 '10012': {'date': '01/09/2021',
  'e_date': '01/12/2021',
  'p_name': 'pasta',
  'price': 100,
  'quant': 80},
 '10013': {'date': '01/03/2021',
  'e_date': '01/12/2021',
  'p_name': 'rice',
  'price': 1000,
  'quant': 250},
 '10014': {'date': '03/06/2021',
  'e_date': '05/05/2022',
  'p_name': 'cereal',
  'price': 188,
  'quant': 108},
 '10015': {'date': '07/08/2021',
  'e_date': '09/03/2022',
  'p_name': 'oatmeal',
  'price': 200,
  'quant': 70},
 '10016': {'date': '06/09/2021',
  'e_date': '12/09/2021',
  'p_name': 'bacon',
  'price': 300,
  'quant': 70},
 '10017': {'date': '06/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'sausge',
  'price': 90,
  'quant': 102},
 '10018': {'date': '06/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'waffles',
  'price': 150,
  'quant': 200},
 '10019': {'date': '06/08/2021',
  'e_date': '06/04/2022',
  'p_name': 'ketchup',
  'price': 60,
  'quant': 250},
 '10020': {'date': '06/09/2021',
  'e_date': '20/09/2021',
  'p_name': 'cream',
  'price': 100,
  'quant': 190},
 '10021': {'date': '05/08/2021',
  'e_date': '05/06/2022',
  'p_name': 'tissues',
  'price': 150,
  'quant': 180},
 '10022': {'date': '07/09/2021',
  'e_date': '10/08/2022',
  'p_name': 'napkins',
  'price': 100,
  'quant': 250},
 '10023': {'date': '05/07/2021',
  'e_date': '05/07/2022',
  'p_name': 'soap',
  'price': 50,
  'quant': 300},
 '10027': {'date': '07/08/2021',
  'e_date': '07/08/2022',
  'p_name': 'paste',
  'price': 50,
  'quant': 190},
 '10028': {'date': '07/08/2021',
  'e_date': '07/05/2022',
  'p_name': 'noodeles',
  'price': 40,
  'quant': 160},
 '10029': {'date': '06/09/2021',
  'e_date': '09/09/2021',
  'p_name': 'milk',
  'price': 30,
  'quant': 40},
 '10030': {'date': '06/08/2021',
  'e_date': '06/06/2022',
  'p_name': 'juice',
  'price': 70,
  'quant': 150},
 '10031': {'date': '07/08/2021',
  'e_date': '07/08/2022',
  'p_name': 'battery',
  'price': 50,
  'quant': 90},
 '10032': {'date': '06/05/2021',
  'e_date': '06/04/2022',
  'p_name': 'shampoo',
  'price': 2,
  'quant': 100},
 '10034': {'date': '06/09/2021',
  'e_date': '10/09/2021',
  'p_name': 'egg',
  'price': 5,
  'quant': 28},
 '10035': {'date': '07/08/2021',
  'e_date': '07/08/2022',
  'p_name': 'powder',
  'price': 40,
  'quant': 50}}

In [ ]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()